
/* for desktops and large screens */
@media only screen and (min-width: 992px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }

  body > nav {
    flex-basis: 100%;
    margin-bottom: 4em;
    background-color: var(--blue);
  }

  #title {
    color: var(--white);
  }

  nav i {
    color: var(--orange);
  }

  body > header.banner {
    padding: 0 4em;
    width: calc(50% - 4em);
    height: 60vh;
    margin: 0 2em;
    /* padding-bottom: auto; */
    position: sticky;
    top: calc(120px + 4em);
  }

  body > main {
   width: 50%;
   padding: 0 2em;
  }


  body > footer {
    flex-basis: 100%;
    position: sticky;
    bottom: 0;
  }

  .new-tweet {
    padding-top: 0;
  }
  .new-tweet-show {
    margin-bottom: 1em;
  }
  
  .old-tweets-container {
    padding-top: 0;
  }

  .old-tweets-container article:first-child {
    margin-top: 0;
  }
}