nav {
  position: sticky;
  top: 0;

  height: 120px;
  width: 100%;
  background-color: #4056A1;
  background-image: inherit;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
/* 
  Be 120 pixels in height
  Be the full width of the viewport.
  Have #4056A1 as its default background colour.
  Have #FFFFF as its default font colour
  The <span> within the <nav> has Bungee as it's default font-family
  The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */

}

#title {
  font-family: 'Bungee', cursive;
  font-size: 2em;

 }